name: ci sast 

on: [push]
# on:
#   push:
#     branches: [main]
#   pull_request:
#     branches: [main]

    
jobs:
  sast_scan:
    name: run bandit scan 
    runs-on: ubuntu-latest
  
    steps:
    - name: chcek code
      uses: actions/checkout@v4
    
    - name: Set up Python 
      uses: actions/setup-python@v3
      with:
        python-version: 3.8
        
    - name: Install bandit
      run: pip install bandit
      
    - name: run bandit
      run: bandit -ll -ii -r . -f json -o bandit-report.json
      
    - name: downlaod artificat 
      uses: actions/upload-artifact@v5.0.0
      if: always()
      with:
        name: bandit-findings
        path: bandit-report.json
        

