name: ci sast 

on: [push]
# on:
#   push:
#     branches: [main]
#   pull_request:
#     branches: [main]

    
jobs:
  sast_scan:
    name: run bandit scan 
    runs-on: ubuntu-latest
  
    steps:
    - name: chcek code
      uses: actions/checkout@v4
    
    - name: Set up Python 
      uses: actions/setup-python@v3
      with:
        python-version: 3.8
        
    - name: Install bandit
      run: pip install bandit
      
    - name: run bandit
      run: bandit -ll -ii -r . -f json -o bandit-report.json
      
    - name: downlaod artificat 
      uses: actions/upload-artifact@v5.0.0
      if: always()
      with:
        name: bandit-findings
        path: bandit-report.json
    
    
  image_scan:
    
      name: Build Image and Run Image Scan
      runs-on: ubuntu-latest
    
      steps:
       - name: Checkout code
         uses: actions/checkout@v2
    
       - name: Set up Docker
         uses: docker/actions-setup-docker@v4.5.0
         with:
          version: '24.0.9'
    
       - name: Build Docker Image
         run: docker build -f Dockerfile -t myapp:latest .
    
       # - name: Docker Scout Scan
         # run: |
           # curl -fsSL https://raw.githubusercontent.com/docker/scout-cli/main/install.sh -o install-scout.sh
           # sh install-scout.sh
           # echo ${{ secrets.REPO_PWD }} | docker login -u ${{ secrets.REPO_USER }} --password-stdin
           # docker scout quickview
           # docker scout cves
    
       - name: Docker Scout Scan
         uses: docker/scout-action@v1.18.2
         with:
           dockerhub-user: ${{ secrets.REPO_USER }}
           dockerhub-password: ${{ secrets.REPO_PWD }}
           command: quickview,cves
           only-severities: critical,high
           sarif-file: scout-report.sarif
    
       - name: Upload Artifact
         uses: actions/upload-artifact@v3
         if: always()
         with:
           name: docker-scout-findings
           path: scout-report.sarif
     
        

